@font-face {
    font-family: svn-apple;
    src: url(../assets/SVN-Apple.ttf);
}
.clear{
    background-color:white;
    position: 0px 10px 0px 0px;
    border: none;
    float: auto;
    margin-left: 7.5px;
}
#showcase{
    min-height:400px;
    background:url('../assets/showcase.jpg') no-repeat 0 -400px;
    color:#ffffff;
}
#showcase h1{
    margin:0 50rem 0 0;
    padding: 10rem 0 0 10rem;
    font-family: svn-apple;
    font-size:80px;
}
#showcase p{
    font-family: svn-apple;
    font-size:55px;
    padding: 0 0 0 10rem;
}
#text-about{
    text-align: center;
}
#text-about p{
    padding-top: 2%;
    text-align: justify;
}
.row{
    padding: 2.5% 15% 0% 20%;
}
.micros-main{
    align-self: center;
}
#row-about{
    padding-bottom: 5%;
}